@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: rgb(180, 187, 212);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    position: fixed;
    top: 5%;
    left: calc(5% + 200px);
    bottom: 5%;
    right: 5%;
    background: #FFFFFF;

    display: flex;
}

.nav {
    position: fixed;
    top: 5%;
    left: 5%;
    bottom: 5%;

    width: 200px;

    background: #F9F9F9;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 40px 0;

    text-align: center;

    z-index: 100;
}

.nav__menu {
    margin-top: 90px;
}

.nav__link {
    display: block;
    line-height: 30px;
    color: lightgray;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.nav__link:not(:last-child) {
    margin-bottom: 15px;
}

.nav__link--active {
    border-left: black 2px solid;
    color: black;
}

.nav__button {
    border: none;
    outline: none;
    color: gray;
    background: transparent;
    display: block;
    width: 100%;
    height: 100%;
}

.main {
    width: 60%;
    overflow: scroll;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px;
}

.user {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user__avatar {
    border-radius: 50%;
}

.user__wrapper {
    display: flex;
    flex-direction: column;
}

.user__name {
    font-size: 1.5em;
    font-weight: bold;
}

.user__location {
    color: gray;
}

.search {
    display: flex;
    align-items: center;
}

.search__field {
    outline: none;
    border: none;
    line-height: 30px;
    padding: 0 10px;
    font-size: 0.7em;
    background: #F9F9F9;
}

.search__button {
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    background: black;
}

.aside {
    width: 40%;
    border-left: rgb(249, 249, 249) 2px solid;
    overflow: scroll;
}
.schedules{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.calendar {
    padding: 0;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}
.calendar__item{
    list-style-type: none;
    width: calc(100% / 7);
    /*text-align: center;*/
    /*line-height: 30px;*/
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar__item--small{
    font-size: .75rem;
}
.calendar__item--grey{
    color: lightgray;
}
.calendar__item--active{
    background: #1f1f1f;
    color: white;
}